@import "../../base.scss";
@import "../../common.scss";

.arrow-right,
.arrow-left {
  background: $lt-grey;
}

#index-interest {
  background-color: $lt-white-blue;

  padding: 30px 0px;
  text-align: center;
  padding-bottom: 50px;
  position: relative;

  .row .interests {
    margin-top: 50px;
    width: 100%;
  }
  .heading {
    margin-bottom: 10px;
  }

  .interest {
    height: 380px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .interest-containt {
      width: 80%;
      margin: auto;
      padding-top: 30%;
    }
    h3,
    p,
    button {
      font-family: $blinker;
      display: none;
      color: $lt-white-blue;
    }
    p {
      font-family: $lato;
      font-size: 1.2rem;
      margin-bottom: 35px;
      line-height: 30px;
    }
    button {
      background-color: none;
      border: 1px solid white;
    }
    p {
      line-height: auto;
    }
    img {
      display: contents;
    }
  }
  .btn-info {
    background-color: #00000010;
    border: none;
    width: 100%;
    p {
      margin: 0px;
    }
  }

  .single-interest-title {
    background-color: $main-blue;
    color: $main-white;
    width: 100%;
    border: 0px;
    padding: 10px;
  }

  .interest-music {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../../assets/guitar.jpg");
  }
  .interest-travel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../../assets/mypic.jpeg");
  }
  .interest-coding {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../../../assets/coding.jpg");
  }

  .interest:hover {
    h3,
    p,
    button {
      display: block;
    }
    cursor: pointer;
  }
  .interest-music:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../../assets/guitar.jpg");
  }
  .interest-travel:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../../assets/mypic.jpeg");
  }
  .interest-coding:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../../assets/coding.jpg");
  }
}

@media only screen and (max-width: 600px) {
  .arrow-left {
    background: $main-white;
  }
}
