<section>
  <div id="index-interest">

    <div class="arrow-right">
    </div>
    <div class="arrow-left">
    </div>

    <div class="container-fluid">
      <h2 class="heading">
        My Interests
      </h2>

      <div class="row interests">
        <div class="col col-12 col-md-6 col-lg-4">
          <div class="interest interest-music">
            <h4>Music</h4>
          </div>
          <div class="interest-containt">
            <h3>Music</h3>
            <p>
              Music releases all my pain and makes me fresh.
              I enjoy playing and listening music.
            </p>
            <button class="btn btn-info">
              <p>
                More >>>
              </p>
            </button>
          </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
          <div class="interest interest-travel">
            <h4>Travel</h4>
          </div>
          <div class="interest-containt">
            <h3>Travel</h3>
            <p>
              I love travelling with friends and to have different experience.
            </p>
            <button class="btn btn-info">
              <p>
                More >>>
              </p>
            </button>
          </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
          <div class="interest interest-coding">
            <h4>Coding</h4>
          </div>
          <div class="interest-containt">
            <h3>Coding</h3>
            <p>
              Coding is my passion. I can code for number of hours.
            </p>
            <button class="btn btn-info">
              <p>
                More >>>
              </p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
