<section>
    <div id="index-interest">
        <div class="container-fluid">
            <h2>
                My Interests
            </h2>

            <div class="row">
                <div class="col-12 col-sm-4 interests">
                    <img src="../../../assets/pro.jpg" class="rounded-circle">
                    <!-- <div class="interests-icons">
                    </div> -->
                    <h4>Music</h4>
                </div>
                <div class="col-12 col-sm-4 interests">
                    <img src="../../../assets/pro.jpg" class="rounded-circle">
                    <h4>Hangouts</h4>

                    <!-- <div class="interests-icons">
                        Hangouts
                    </div> -->

                </div>
                <div class="col-12 col-sm-4 interests">
                    <img src="../../../assets/pro.jpg" class="rounded-circle">
                    <h4>Coding</h4>
                    <!-- <div class="interests-icons">
                        Coding
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>