@import "../../base.scss";
@import "../../common.scss";

.arrow-right,
.arrow-left {
  background: $lt-grey;
}

#index-interest {
  background-color: $lt-white-blue;

  padding: 30px 0px;
  text-align: center;
  padding-bottom: 50px;
  position: relative;

  .row .interests {
    margin-top: 50px;
    width: 100%;
  }
  .heading {
    margin-bottom: 10px;
  }

  .interest {
    height: 270px;
    width: 270px;
    // clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    border-radius: 50%;
    text-align: center;
    margin: 20px auto;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h4 {
      display: none;
      position: absolute;
      bottom: 38%;
      left: 33%;
      color: $lt-blue;
      font-size: 2.1rem;
    }
    img {
      display: contents;
    }
  }

  .btn-info {
    background-color: $lt-blue;
    border: none;
    color: $dk-maroon;
    width: 100%;
    p {
      margin: 0px;
    }
  }

  .interest-music {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../../assets/guitar.jpg");
  }
  .interest-travel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../../assets/mypic.jpeg");
  }
  .interest-coding {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../../assets/coding.jpg");
  }

  .interest:hover {
    h4 {
      display: block;
    }
    cursor: pointer;
  }
  .interest-music:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/guitar.jpg");
  }
  .interest-travel:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/mypic.jpeg");
  }
  .interest-coding:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/coding.jpg");
  }

  .interest-containt {
    width: 70%;
    margin: auto;
    h3 {
      font-family: $blinker;
      margin: 25px 5px;
      color: $dk-blue;
    }
    p {
      font-family: $lato;
      font-size: 1.1rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .arrow-left {
    background: $main-white;
  }
}
