<div id="index-skill">

    <div class="arrow-right">
    </div>
    <div class="arrow-left">
    </div>

    <div class="container-fluid">
        <h2>
            My Skills
        </h2>

        <div class="row">

            <div class="col-4 col-md-3 col-lg-2">
                <div class="skill-icons">
                    <img src="../../../assets/skill-icons/html5.svg">
                </div>
            </div>
            <div class="col-4 col-md-3 col-lg-2">
                <div class="skill-icons">
                    <img src="../../../assets/skill-icons/CSS3.svg">
                </div>
            </div>
            <div class="col-4 col-md-3 col-lg-2">
                <div class="skill-icons">
                    <img src="../../../assets/skill-icons/JS.svg">
                </div>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="skill-icons">
                    <img src="../../../assets/skill-icons/bootstrap.svg">
                </div>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="skill-icons">
                    <img src="../../../assets/skill-icons/python.svg">
                </div>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="skill-icons">
                    <img src="../../../assets/skill-icons/java.svg">
                </div>
            </div>
            <div class="col-4 col-md-3 col-lg-2">
                <div class="skill-icons">
                    <img src="../../../assets/skill-icons/php.svg">
                </div>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="skill-icons">
                    <img src="../../../assets/skill-icons/laravel.svg">
                </div>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="skill-icons">
                    <img src="../../../assets/skill-icons/angular.svg">
                </div>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="skill-icons">
                    <img src="../../../assets/skill-icons/rails.svg">
                </div>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="skill-icons">
                    <img src="../../../assets/skill-icons/wordpress.svg">
                </div>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="skill-icons">
                    <img src="../../../assets/skill-icons/photoshop.svg">
                </div>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="skill-icons">
                    <img src="../../../assets/skill-icons/unity.svg">
                </div>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="skill-icons">
                    <img src="../../../assets/skill-icons/git.svg">
                </div>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="skill-icons">
                    <img src="../../../assets/skill-icons/github.svg">
                </div>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="skill-icons">
                    <img src="../../../assets/skill-icons/trello.svg">
                </div>
            </div>


            <!-- Next set of  -->

            <div class="col-4 col-md-3 col-lg-2">
                <div class="skill-icons">
                    <img src="../../../assets/skill-icons/mongoDB.svg">
                </div>
            </div>
            <div class="col-4 col-md-3 col-lg-2">
                <div class="skill-icons">
                    <img src="../../../assets/skill-icons/sql.svg">
                </div>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="skill-icons">
                    <img src="../../../assets/skill-icons/mysql.svg">
                </div>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="skill-icons">
                    <img src="../../../assets/skill-icons/oracle.svg">
                </div>
            </div>

            <div class="col-4 col-md-3 col-lg-2">
                <div class="skill-icons">
                    <img src="../../../assets/skill-icons/artificial-intelligence.png">
                </div>
            </div>


        </div>

    </div>


</div>