@import "../../base.scss";
@import "../../common.scss";

.arrow-right,
.arrow-left {
  background: $lt-white-blue;
}
#index-skill {
  background-color: $main-white;
  padding: 30px 0px;
  text-align: center;
  position: relative;

  .skill-icons {
    height: 100px;
    width: 100px;
    margin: 30px auto;
  }

  img {
    height: 100px;
    width: 100px;
  }

  .carousel-indicators li {
    margin-bottom: -15px;
    background-color: green;
  }

  @media only screen and (max-width: 767px) {
    img {
      height: 70px;
      width: 70px;
    }
  }
}
