@import '../../base.scss';
@import '../../common.scss';


#index-skill{
    background-color: $main-white;
    padding: 30px 0px;
    text-align: center;
    position: relative;

    h2{
        font-family: $roboto;
        font-size: 2.2rem;
        color: $dk-green;
    }
    .skill-icons{
        height: 100px;
        width: 100px;
        margin: 30px auto;

    }

    img{
        height: 100px;
        width: 100px;
    }


    
}
