<div id="index-skill">

    <div class="arrow-right">
    </div>
    <div class="arrow-left">
    </div>

    <div class="container-fluid">
        <h2 class="heading">
            My Skills
        </h2>

        <div id="skills" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#skills" data-slide-to="0" class="active"></li>
                <li data-target="#skills" data-slide-to="1"></li>
                <li data-target="#skills" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-6 col-md-4">
                            <div class="skill-icons">
                                <img src="../../../assets/skill-icons/html5.svg">
                                <h5>HTML 5</h5>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="skill-icons">
                                <img src="../../../assets/skill-icons/CSS3.svg">
                                <h5>CSS 3</h5>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="skill-icons">
                                <img src="../../../assets/skill-icons/JS.svg">
                                <h5>JavaScript</h5>
                            </div>
                        </div>

                        <div class="col-6 col-md-4">
                            <div class="skill-icons">
                                <img src="../../../assets/skill-icons/bootstrap.svg">
                                <h5>Bootstrap</h5>
                            </div>
                        </div>

                        <div class="col-6 col-md-4">
                            <div class="skill-icons">
                                <img src="../../../assets/skill-icons/python.svg">
                                <h5>Python</h5>
                            </div>
                        </div>

                        <div class="col-6 col-md-4">
                            <div class="skill-icons">
                                <img src="../../../assets/skill-icons/java.svg">
                                <h5>Java</h5>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="carousel-item">
                    <div class="row">

                        <div class="col-6 col-md-4">
                            <div class="skill-icons">
                                <img src="../../../assets/skill-icons/php.svg">
                                <h5>Php</h5>
                            </div>
                        </div>

                        <div class="col-6 col-md-4">
                            <div class="skill-icons">
                                <img src="../../../assets/skill-icons/laravel.svg">
                                <h5>Laravel</h5>
                            </div>
                        </div>

                        <div class="col-6 col-md-4">
                            <div class="skill-icons">
                                <img src="../../../assets/skill-icons/angular.svg">
                                <h5>Angular</h5>
                            </div>
                        </div>

                        <div class="col-6 col-md-4">
                            <div class="skill-icons">
                                <img src="../../../assets/skill-icons/rails.svg">
                                <h5>Rails</h5>
                            </div>
                        </div>

                        <div class="col-6 col-md-4">
                            <div class="skill-icons">
                                <img src="../../../assets/skill-icons/wordpress.svg">
                                <h5>Wordpress</h5>
                            </div>
                        </div>

                        <div class="col-6 col-md-4">
                            <div class="skill-icons">
                                <img src="../../../assets/skill-icons/photoshop.svg">
                                <h5>Photoshop</h5>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">

                        <div class="col-6 col-md-4">
                            <div class="skill-icons">
                                <img src="../../../assets/skill-icons/unity.svg">
                                <h5>Unity</h5>
                            </div>
                        </div>

                        <div class="col-6 col-md-4">
                            <div class="skill-icons">
                                <img src="../../../assets/skill-icons/github.svg">
                                <h5>Github</h5>
                            </div>
                        </div>


                        <div class="col-6 col-md-4">
                            <div class="skill-icons">
                                <img src="../../../assets/skill-icons/mongoDB.svg">
                                <h5>mongoDB</h5>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="skill-icons">
                                <img src="../../../assets/skill-icons/mysql.svg">
                                <h5>My Sql</h5>
                            </div>
                        </div>

                        <div class="col-6 col-md-4">
                            <div class="skill-icons">
                                <img src="../../../assets/skill-icons/oracle.svg">
                                <h5>Oracle</h5>
                            </div>
                        </div>

                        <div class="col-6 col-md-4">
                            <div class="skill-icons">
                                <img src="../../../assets/skill-icons/artificial-intelligence.png">
                                <h5>Artificial Intelligence</h5>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <a class="carousel-control-prev" href="#skills" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#skills" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>

</div>