<div id="index-skill">
    <div class="container-fluid">
        <h2>
            My Skills
        </h2>

        <div class="skills">

        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eius molestias optio omnis maiores,
            perspiciatis veritatis, corporis sit eligendi obcaecati ipsa! Sapiente suscipit magni labore sunt cupiditate
            consequatur, saepe hic esse libero excepturi fuga eligendi delectus non sed eius laudantium veniam itaque
            facere. Enim nesciunt sapiente officia minima voluptatum itaque nobis veritatis accusantium ad, amet,
            eveniet saepe dolorum vitae iste ullam nemo suscipit dolorem reiciendis laborum qui vero, quaerat mollitia?
            Aperiam recusandae quia reprehenderit quam repudiandae excepturi eum cumque assumenda, asperiores unde, odit
            dicta fugit consequatur exercitationem labore eius natus dolores quis esse in nemo quod nihil maxime
            inventore. Aperiam.
        </p>
    </div>
</div>