@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
// Colors
$main-white: #f0f0f0;
$main-black: #2d3142;

$main-grey: #adacb5;
$main-blue: #2e6171;
$main-yellow: #f3a712;

$lt-white: #f1f1f1;

$lt-grey: #e3e3e3;
$lt-blue: #bdd4e7;
$lt-brown: #918b76;
$lt-yellow: #f8cf7d;
$lt-white-blue: #fafdff;

$dk-white: #d8d8d8;

$dk-grey: #96939b;
$dk-blue: #252937;
$dk-yellow: #ec9c4d;

$dk-brown: #564946;
$dk-green: #516037;
$dk-maroon: #7a1750;

$mid-black: #374248;
$mid-grey: #a8a8a8;
$mid-brown: #49392c;

$white: #faf9f9;
$blue-grey: #7389ae;

// FONTS

@import url("https://fonts.googleapis.com/css?family=Blinker:400,600|Lato|PT+Sans|Raleway|Red+Hat+Display|Roboto+Condensed|Source+Sans+Pro&display=swap");

$default: "sans-serif";
$blinker: "Blinker";
$red-hat: "Red Hat Display";
$roboto: "Roboto Condensed";
$sans-pro: "Source Sans Pro";
$pt-sans: "PT Sans";
$lato: "Lato";
