@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
// Colors
$lt-white: #F1F1F1;
$main-white: #F0F0F0;
$mid-white: #E8E8E8;
$dk-white: #D8D8D8;
$lt-cream-blue: #E5FDF8;

$main-black: #171717;
$black-grey: #555B6E;
$mid-black: #374248;
$dk-black-green: #212926;

$dk-grey: #96939B;
$mid-grey: #A8A8A8;
$lt-grey: #BFBFBF;
$lt-blue-grey:#DEE9E8;

$dk-brown: #564946;

$dk-yellow: #EC9C4D;
$dk-green: #516037;
$dk-maroon:#7A1750;



// FONTS

@import url('https://fonts.googleapis.com/css?family=Blinker:400,600|Lato|PT+Sans|Raleway|Red+Hat+Display|Roboto+Condensed|Source+Sans+Pro&display=swap');

$default: 'sans-serif';
$blinker: 'Blinker';
$red-hat: 'Red Hat Display';
$roboto: 'Roboto Condensed';
$sans-pro: 'Source Sans Pro';
$pt-sans: 'PT Sans';
$lato: 'Lato';