<div id="about">
    <div class="about-first">
        <div class="about-first-containt">
            <h2 class="heading">About-Me</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Dolore repudiandae, soluta libero praesentium
                quasi molestiae.</p>
        </div>
    </div>


    <div class="about-details">
        <div class="about-music">
        </div>

        <div class="about-coding">
        </div>

        <div class="about-travel">
        </div>

    </div>


</div>