@import '../base.scss';
.nav-bg{
    background-image: linear-gradient(2deg, $dk-grey, $lt-blue-grey);
    
    .navbar-brand, .nav-link{
        color: $main-black;
        font-size: 1.1em;
    }
    .nav-link li:hover{
        text-decoration: underline;
    }
}