.main-div{
    background: #f0f0f0;
    height: 645px;
    width: 100%;
    position: relative;
    overflow: hidden; 
}

.main-div:after{
    content: "";
    position: absolute;
    background: #e8e8e8;
    height: 1200px;
    width: 65%;
    // transform: skew(-57deg);
    clip-path: polygon(90% 0, 100% 0%, 100% 100%, 0% 100%);
    bottom: 0;
    right: 0;
    z-index: 888;
}


.main-inner-div{
    content: '';
    z-index: 999;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    top: 5%;
    bottom: 5%;
    right: 10%;
    left: 10%;
    box-sizing: border-box;


    .image-containt{
        height: 100%;
        img{
            height: inherit;
            width: inherit;
        }
    }

    .main-info{
        width: 400px;
        color: #7A1750;  
        p{
            margin-top: 2rem;
        }
        .btn-info{
            width: 100%;
            background: none;
            border: 1px solid #564946;
            color: #564946;
            margin-top: 3rem;
        }
    }

    .clr{
        clear: both;
    }
}










