<section>
    <div class="main-div">
        <div class="main-inner-div">
            <div class="image-containt">
                <img src="../../assets/profile.jpeg" class="rounded">
            </div>

            <div class="small-image">
                <img src="../../assets/profile.jpeg" class="rounded">
            </div>

            <div class="main-info">
                <h2>Prakash Dahal</h2>
                <p>
                    I am self-motivated and inquisitive person, always looking forward to learn and experience more in
                    life.
                </p>
                <ul>
                    <li>
                        <a href="https://facebook.com/prakash2053" target="_blank">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>

                    <li>
                        <a href="mailto:dahalprakash1720@gmail.com" target="_top">
                            <i class="fa fa-google-plus-square"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/PrakashDahal" target="_blank">
                            <i class='fa fa-github-square'></i>
                        </a>
                    </li>
                </ul>
                <button class="btn btn-light" routerLink="/portfolio"> Read More >> </button>
            </div>

        </div>

        <div class="clr">
        </div>

    </div>

</section>

<app-interest></app-interest>
<app-skill></app-skill>