@import '../base.scss';
.main-div{
    background: $main-white;
    height: 645px;
    width: 100%;
    position: relative;
    overflow: hidden; 
}

.main-div:after{
    content: "";
    position: absolute;
    background: $mid-white;
    height: 1200px;
    width: 60%;
    clip-path: polygon(90% 0, 100% 0%, 100% 100%, 0% 100%);
    bottom: 0;
    right: 0;
    z-index: 888;
}


.main-inner-div{
    content: '';
    z-index: 999;
    position: absolute;
    display: flex;
    align-items: center;
    // justify-content: space-around; 
    top: 5%;
    bottom: 5%;
    right: 10%;
    left: 10%;
    // border: 3px solid #F2F2F2;
    box-sizing: border-box;


    .image-containt{
        height: 100%;
        img{
            height: inherit;
            width: inherit;
        }
    }

    .main-info{
        position: absolute;
        width: 450px;
        color: $mid-black;
        bottom: 8%;
        left: 50%; 
        p{
            margin-top: 2rem;
        }
        .btn{
            width: 100%;
            border: none;
            background: $lt-white;
            color: $dk-yellow;
            margin-top: 3rem;
            font-size: 1.5rem;
        }
        .btn:focus{
            border: none;
            background: red;
        }
    }

    .clr{
        clear: both;
    }
}










