<section>

    <div class="main-div">

        <div class="image-containt">
            <img src="../../assets/rsz_1img_0788.jpg" class="rounded">
        </div>

        <div>

        </div>


        <div class="main-info">
            <h2>Prakash Dahal</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, rem!
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quia ex dolorum aperiam
                repellat
                aspernatur aut temporibus deleniti fugiat officiis.

                Lorem ipsum dolor sit amet.
            </p>
            <button class="btn btn-info">More >></button>
        </div>


    </div>

</section>